################################################################################

/setup.py
/pyproject.toml
/GenericAppEnv.bat
/src/cairn.egg-info
/out
/lib/PegaseInstall
/dist
/bin
/.vs
/.pytest_cache
/tests/reports
/tests/apipython/__pycache__
/tests/apicpp/src/TEST_CairnCore.h
/src/core/CairnVersion.h
/_skbuild

/src/core/CairnDefine.h
