[submodule "lib/MIPModeler"]
	path = lib/MIPModeler
	url = https://github.com/CEA-Liten/MIPModeler.git
[submodule "lib/CMakeTools"]
	path = lib/CMakeTools
	url = https://github.com/CEA-Liten/LSET_CMakeTools.git
